body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e; /* Cor de fundo escura */
    color: #f9f9f9; /* Cor do texto claro */
    text-align: center;
}

header, nav, .content {
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    color: #4caf50; /* Um verde mais suave para os títulos */
}

.tab {
    background-color: #333; /* Cor de fundo mais escura para as abas */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin: 0;
    color: #f9f9f9; /* Cor do texto claro */
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* Sombra sutil para as abas */
    transition: background-color 0.3s; /* Transição suave de cor */
}

.tab:focus {
    outline: none;
}

.tab:hover {
    background-color: #555; /* Cor mais escura quando passar o mouse */
}

.content {
    background-color: #333; /* Cor de fundo mais escura para o conteúdo */
    border-radius: 0 0 5px 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Sombra sutil para o conteúdo */
}

.content p {
    margin: 0;
}

.choose-topic {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    background-color: #333; /* Cor de fundo mais escura para os botões */
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    color: #f9f9f9; /* Cor do texto claro */
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* Sombra sutil para os botões */
    transition: background-color 0.3s; /* Transição suave de cor */
    font-size: 1.2em;
    margin: 0 10px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #555; /* Cor mais escura quando passar o mouse */
}

